[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = collect awesome javascript snippets
[access "refs/*"]
	owner = group user/Aidan (AidanDai)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Aidan (AidanDai)
	label-Verified = -1..+1 group user/Aidan (AidanDai)
	push = group user/Aidan (AidanDai)
	read = group user/Aidan (AidanDai)
	rebase = group user/Aidan (AidanDai)
	removeReviewer = group user/Aidan (AidanDai)
	submit = group user/Aidan (AidanDai)
[access "refs/heads/*"]
	create = group user/Aidan (AidanDai)
	push = +force group user/Aidan (AidanDai)
	pushMerge = group user/Aidan (AidanDai)
	read = group user/Aidan (AidanDai)
[access "refs/tags/*"]
	push = group user/Aidan (AidanDai)
	push = +force group user/Aidan (AidanDai)
